.capabilitiesTitle {
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0,0,0,.6)), url("https://firebasestorage.googleapis.com/v0/b/panelflex-7663b.appspot.com/o/production%20capabilities%2Fproduction%20capabilities%20landing.jpg?alt=media&token=e38d15cb-41f0-464c-9e46-ac4875fa2820");
    height: 40vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 250%;
    font-size: 400;
    margin-top: 0%;
    color: #fff;
}

.capabilitiesMainContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f8f8;
}

.capabilitiesContainer {
    display: flex;
    flex-direction: column;
    width: 75%;
    align-items: center;
}

.capabilitiesTitleSmall {
    font-size: 150%;
    font-weight: 500;
}

.capabilitiesList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 50%;
    color: #e80700;
}

.listItem {
    width: 19%;
    margin-top: 1%;
    margin-right: 2%;
}