.capabilitiesTitle {
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0,0,0,.6)), url("https://firebasestorage.googleapis.com/v0/b/panelflex-7663b.appspot.com/o/production%20capabilities%2Fproduction%20capabilities%20landing.jpg?alt=media&token=e38d15cb-41f0-464c-9e46-ac4875fa2820");
    height: 40vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 250%;
    font-size: 400;
    margin-top: 0%;
    color: #fff;
}

.capabilitiesMainContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.capabilitiesContainer {
    display: flex;
    flex-direction: column;
    width: 75%;
    align-items: center;
}

.capabilitiesTitleSmall {
    font-size: 150%;
    font-weight: 500;
}

.capabilitiesList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 50%;
    color: #e80700;
}

.listItem {
    width: 19%;
    margin-top: 1%;
    margin-right: 2%;
}

.capabilitiesPic1 {
    position: absolute;
    margin-left: 40%;
    width: 13%;
}

.capabilitiesPic2 {
    position: absolute;
    margin-top: 10%;
    margin-left: 40%;
    width: 13%;
}

.capabilitiesPic3 {
    position: absolute;
    width: 13%;
    left: 5%;
}
.capabilitiesPic4 {
    position: absolute;
    width: 13%;
    left: 5%;
    margin-top: 10%;
}

.capabilitiesPicContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.capabilitiesPic5 {
    width: 13%;
}

.capabilitiesPic6 {
    width: 13%;
}

.capabilitiesPic7 {
    width: 13%;
}

.capabilitiesPic8 {
    width: 13%;
}

.capabilitiesPic9 {
    width: 13%;
}

.capabilitiesPic10 {
    width: 13%;
}

@media only screen and (max-width: 1550px){
    .capabilitiesList {
        width: 70%;
    }
}

@media only screen and (max-width: 1490px){
    .capabilitiesList {
        width: 70%;
    }

    .capabilitiesPic1 {
        position: absolute;
        margin-left: 40%;
        width: 13%;
        margin-top: 9%;
    }
    
    .capabilitiesPic2 {
        position: absolute;
        margin-top: 18%;
        margin-left: 40%;
        width: 13%;
    }
    
    .capabilitiesPic3 {
        position: absolute;
        width: 13%;
        left: 5%;
        margin-top: 8%;
    }
    .capabilitiesPic4 {
        position: absolute;
        width: 13%;
        left: 5%;
        margin-top: 17%;
    }
}

@media only screen and (max-width: 1190px){
    .capabilitiesPic1 {
        position: absolute;
        margin-left: 40%;
        width: 18%;
        margin-top: 15%;
    }
    
    .capabilitiesPic2 {
        position: absolute;
        margin-top: 27%;
        margin-left: 40%;
        width: 18%;
    }
    
    .capabilitiesPic3 {
        position: absolute;
        width: 17%;
        left: 2%;
        margin-top: 15%;
    }
    .capabilitiesPic4 {
        position: absolute;
        width: 17%;
        left: 2%;
        margin-top: 27%;
    }

    .capabilitiesList {
        width: 85%;
    }
}

@media only screen and (max-width: 930px){
    .capabilitiesPic1 {
        display: none;
    }
    
    .capabilitiesPic2 {
        display: none;
    }
    
    .capabilitiesPic3 {
        display: none;
    }
    .capabilitiesPic4 {
        display: none;
    }

    .capabilitiesList {
        width: 100%;
    }

    .listItem {
        width: 24%;
    }
}

@media only screen and (max-width: 551px){
    .listItem {
        margin-right: 3.5%;
    }

    .capabilitiesContainer {
        width: 100%;
    }
}

@media only screen and (max-width: 350px){
    .listItem {
        width: 100%;
    }

    .capabilitiesList {
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}