.pvPic {
    position: absolute;
    left: 2%;
    width: 22%;
    margin-top: 3%;
}

.pvPic2 {
    position: absolute;
    width: 22%;
    margin-left: 37%;
    margin-top: 3%;
}

@media only screen and (max-width: 1380px) {
    .pvPic {
        width: 24%;
        margin-top: 7%;
    }
    
    .pvPic2 {
        width: 24%;
        margin-top: 7%;
    }
}

@media only screen and (max-width: 1150px) {
    .pvPic {
        margin-top: 12%;
    }
    
    .pvPic2 {
        margin-top: 12%;
    }
}

@media only screen and (max-width: 1000px) {
    .pvPic {
        display: none;
    }
    
    .pvPic2 {
        display: none;
    }
}