.csaContainer {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
}

.csaHeaderContainer {
    display: flex;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0,0,0,.6)), url("https://firebasestorage.googleapis.com/v0/b/panelflex-7663b.appspot.com/o/CSA%2FCSA%20banner.jpg?alt=media&token=a07c582d-dd61-497d-867f-4867888c03a2");
    flex-direction: column;
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}

.csaMainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.csaText {
    width: 65%
}

.csaContainerSmall {
    margin-top: 2%;
    display: flex;
    width: 75%;
}

.csaImage {
    margin-right: 1%;
    width: 9%;
}

.csaImage2 {
    width: 20%;
}

.csaTitle {
    font-weight: 400;
    font-size: 250%;
}