.csaContainer {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
}

.csaHeaderContainer {
    display: flex;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0,0,0,.6)), url("https://firebasestorage.googleapis.com/v0/b/panelflex-new.appspot.com/o/CSA%2FCSA_Group_logo.svg.png?alt=media&token=87c38257-26a5-4c62-8f5d-a9ef6eb7e953");
    flex-direction: column;
    width: 100%;
    height: 60vh;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}

.csaMainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.csaText {
    width: 65%
}

.csaContainerSmall {
    margin-top: 2%;
    display: flex;
    width: 75%;
}

.csaImage {
    margin-left: 2%;
    margin-right: 2%;
    width: 9%;
}

.csaImage2 {
    width: 20%;
}

.csaTitle {
    font-weight: 400;
    font-size: 250%;
}

@media only screen and (max-width: 1335px){
    .csaImage2 {
        width: 45%;
    }

    .csaImage {
        width: 19%;
    }
}

@media only screen and (max-width: 1130px){
    .csaImage2 {
        width: 85%;
    }

    .csaImage {
        width: 39%;
    }
}

@media only screen and (max-width: 1130px){
    .csaImage2 {
        width: 85%;
        height: 8vh;
    }

    .csaImage {
        width: 39%;
        height: 8vh;
    }
}

@media only screen and (max-width: 530px){
    .csaContainerSmall {
        flex-direction: column;
    }

    .csaImage2 {
        width: 50%;
    }
}