.kioskPic {
    position: absolute;
    margin-left: 35%;
    width: 23%;
    top: 48%;
}

.kioskPic2 {
    position: absolute;
    width: 23%;
    top: 48%;
    margin-left: 3%;
}

@media only screen and (max-width: 1350px) {
    .kioskPic {
        margin-left: 37%;
        width: 25%;
        top: 50%;
    }
    
    .kioskPic2 {
        width: 26%;
        top: 50%;
        margin-left: 1%;
    }
}

@media only screen and (max-width: 1050px) {
    .kioskPic {
        display: none;
    }
    
    .kioskPic2 {
        display: none;
    }

    .skidsIntroText {
        width: 85%;
    }
}