.lightingHeaderContainer {
    display: flex;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0,0,0,.6)), url("https://firebasestorage.googleapis.com/v0/b/panelflex-new.appspot.com/o/Discover%20PFX%2Fdiscover%20pfx2.jpg?alt=media&token=46dd1528-1051-47df-9d10-5c99e23514c3");
    flex-direction: column;
    width: 100%;
    height: 30vh;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}

.lightingPic {
    position: absolute;
    margin-left: 40%;
    top: 46%;
}

.lightingPic2 {
    position: absolute;
    width: 18%;
    margin-left: 3%;
    top: 48%
}

@media only screen and (max-width: 1600px) {
    .lightingPic2 {
        width: 22%;
        top: 52%;
        margin-left: 1%;
    }

    .lightingPic {
        margin-left: 37%;
    }
}

@media only screen and (max-width: 1335px) {
    .lightingPic2 {
        width: 24%;
        top: 53%;
    }

    .lightingPic {
        width: 23%;
        top: 52%;
    }
}

@media only screen and (max-width: 1000px) {
    .lightingPic2 {
       display: none;
    }

    .lightingPic {
        display: none;
    }
}