.marshallingHeaderContainer {
    display: flex;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0,0,0,.6)), url("https://firebasestorage.googleapis.com/v0/b/panelflex-new.appspot.com/o/Discover%20PFX%2Fdiscover%20pfx2.jpg?alt=media&token=46dd1528-1051-47df-9d10-5c99e23514c3");
    flex-direction: column;
    width: 100%;
    height: 30vh;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}

.marshallingPic {
    position: absolute;
    margin-left: 38%;
    width: 18%;
    top: 42%;
}

.marshallingPic2 {
    position: absolute;
    width: 18%;
    top: 47%;
    margin-left: 3%;
}

@media only screen and (max-width: 1380px) {
    .marshallingPic2 {
        width: 22%;
        margin-left: 1%;
        top: 50%;
    }

    .marshallingPic {
        width: 12%;
        margin-left: 40%;
    }
}

@media only screen and (max-width: 1130px) {
    .marshallingPic {
        width: 14%;
        top: 44%;
    }
}

@media only screen and (max-width: 1000px) {
    .marshallingPic {
        display: none;
    }

    .marshallingPic2 {
        display: none;
    }
}