.pclLandingImage {
    width: 100%;
}

.pclHeaderContainer {
    display: flex;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0,0,0,.6)), url("https://firebasestorage.googleapis.com/v0/b/panelflex-new.appspot.com/o/Discover%20PFX%2Fdiscover%20pfx2.jpg?alt=media&token=46dd1528-1051-47df-9d10-5c99e23514c3");
    flex-direction: column;
    width: 100%;
    height: 30vh;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}


.pclMainTitle {
    position: absolute;
    color: #fff;
    font-size: 250%;
    font-weight: 400;
}

.border1 {
    border-top: 0.5px solid #494949;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 50%;
}

.pclBodyContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pclIntroText {
    width: 40%;
    font-size: 100%;
    font-weight: 400;
    color:#494949;
}

.pclTitleSmall {
    font-size: 250%;
    color: #D0312D;
    font-weight: 600;
}

.pclList {
    font-size: 100%;
    font-weight: 400;
    color:#494949;
}

.pclPic1 {
    position: absolute;
    margin-left: 35%;
    width: 20%;
}

.pclPic2 {
    position: absolute;
    margin-left: 5%;
    top: 110%;
    width: 20%;
}

.pclPic3 {
    position: absolute;
    margin-left: 35%;
    margin-top: 23%;
    width: 16%;
}

.pclPic4 {
    position: absolute;
    margin-left: 5%;
    width: 20%;
    top: 45%;
}

@media only screen and (max-width: 1370px){
    .pclPic3 {
        width: 21%;
    }

    .pclPic2 {
        width: 25%;
        margin-left: 2%;
    }

    .pclPic4 {
        margin-left: 2%;
    }
}

@media only screen and (max-width: 1160px){
    .pclPic4 {
        top: 55%;
    }

    .pclPic2 {
        top: 120%;
    }

    .pclPic3 {
        top: 55%;
        margin-left: 37%;
    }
}

@media only screen and (max-width: 1000px){
    .pclPic4 {
        display: none;
    }

    .pclPic1 {
        display: none;
    }

    .pclPic3 {
        display: none;
    }

    .pclPic2 {
        display: none;
    }

    .pclIntroText {
        width: 85%;
    }
}

@media only screen and (max-width: 300px) {
    .pclTitleSmall {
        font-size: 175%;
    }

    .pclMainTitle {
        font-size: 175%;
    }
}