.productHeaderContainer {
    display: flex;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0,0,0,.6)), url("https://firebasestorage.googleapis.com/v0/b/panelflex-new.appspot.com/o/Banners%2Fdiscover%20pfx2.jpg?alt=media&token=19bf8843-0a7c-43f7-b1a0-dcaa5f37b704");
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.product2ndContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productsMainTitle {
    font-size: 300%;
    font-weight: 400;
}

.productsMainText {
    width: 50%;
    font-size: 125%;
    font-weight: 400;
}

.individualProducts {
    width: 100%;
    display: flex;
    margin-top: 1.5%;
    justify-content: center;
}

.individualProducts:hover {
    transition-duration: 0.5s;
    background-color: #f5f5f5;
}

.individualProductsLink {
    width: 100%;
}

.individualProductsImage {
    margin-right: 5%;
    width: 23vh;
    height: 20vh;
}

.individualProductsDescription {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.individualProductsTitle {
    font-size: 200%;
    font-weight: 300;
    border-bottom: solid 1px black;
}

.individualProductsText {
    width: 80%;
    line-height: 150%;
    margin-top: 0;
    font-size: 120%;
    font-weight: 300;
}

@media only screen and (max-width: 500px){
    .productsMainText {
        width: 85%;
    }

    .individualProductsImage {
        display: none;
    }

    .individualProductsDescription {
        width: 85%;
    }
}

@media only screen and (max-width: 500px) {
    .individualProductsText {
        font-size: 110%;
    }

    .individualProductsTitle {
        font-size: 145%;
    }
}