.scadaHeaderContainer {
    display: flex;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0,0,0,.6)), url("https://firebasestorage.googleapis.com/v0/b/panelflex-new.appspot.com/o/Discover%20PFX%2Fdiscover%20pfx2.jpg?alt=media&token=46dd1528-1051-47df-9d10-5c99e23514c3");
    flex-direction: column;
    width: 100%;
    height: 30vh;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}

.scadaPic {
    position: absolute;
    margin-left: 35%;
    width: 14%;
}

.scadaPic2 {
    position: absolute;
    margin-left: 5%;
    width: 18%;
    top: 52%;
}

@media only screen and (max-width: 1300px){
    .scadaPic2 {
        width: 22%;
        margin-left: 2%;
    }

    .scadaPic {
        width: 18%;
        margin-left: 38%;
        top: 54%;
    }
}

@media only screen and (max-width: 1000px) {
    .scadaPic {
        top: 49%;
    }
}

@media only screen and (max-width: 830px) {
    .scadaPic {
        display: none;
    }

    .scadaPic2 {
        display: none;
    }
}