.teleHeaderContainer {
    display: flex;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0,0,0,.6)), url("https://firebasestorage.googleapis.com/v0/b/panelflex-new.appspot.com/o/Discover%20PFX%2Fdiscover%20pfx2.jpg?alt=media&token=46dd1528-1051-47df-9d10-5c99e23514c3");
    flex-direction: column;
    width: 100%;
    height: 30vh;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}

.instrumentPic {
    margin-left: 70%;
    width: 15%;
}

.instrumentPic2 {
    width: 20%;
    position: absolute;
    top: 50%
}

.teleMainTitle {
    position: absolute;
    color: #fff;
    font-size: 250%;
    font-weight: 400;
}

@media only screen and (max-width: 1000px) {
    .instrumentPic2 {
        top: 42%;
        margin-left: 5%;
    }
}

@media only screen and (max-width: 650px) {
    .instrumentPic {
        display: none;
    }
    
    .instrumentPic2 {
        display: none;
    }
}

@media only screen and (max-width: 460px) {
    .teleMainTitle {
        font-size: 155%;
    }
}