.vdfHeaderContainer {
    display: flex;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0,0,0,.6)), url("https://firebasestorage.googleapis.com/v0/b/panelflex-new.appspot.com/o/Discover%20PFX%2Fdiscover%20pfx2.jpg?alt=media&token=46dd1528-1051-47df-9d10-5c99e23514c3");
    flex-direction: column;
    width: 100%;
    height: 30vh;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}

.vdfPic1 {
    position: absolute;
    left: 5%;
    width: 12%;
}

.vdfPic2 {
    position: absolute;
    margin-left: 40%;
    width: 15%;
}

@media only screen and (max-width: 1450px) {
    .vdfPic1 {
        width: 16%;
        left: 2%;
        top: 50%;
    }

    .vdfPic2 {
        width: 19%;
        top: 50%;
    }
}

@media only screen and (max-width: 1000px) {
    .vdfPic1 {
        display: none;
    }

    .vdfPic2 {
        display: none;
    }
}